<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "tweeter_top.png" %>">
</section>
<section class="about">
  <h2>About Tweeter</h2>
  <p>
     - Tweeter is Simple Application to tweet<br>
     - Easy to Post, Easy to Edit.<br>
     <p></p>
     <%= link_to "Start to tweet", tweets_path,class: 'btn btn-primary' %>
  </p>
</section>
